@import './variables';
@import './animations';
// @import '~nativescript-vue-fab/style';

.lato {
    font-family: $lato-fontFamily;
}
.mdi {
    font-family: $mdi-fontFamily;
}
.roboto {
    font-family: $roboto-fontFamily;
}
.app {
    font-family: $app-fontFamily;
}

htmllabel,
label {
    color: $text-color;
}

label,
htmllabel,
button,
tabview,
tabviewitem,
mdbutton {
    @extend .roboto;
}

mdactivityindicator {
    color: $color-primary;
}

mdripple {
    ripple-color: $color-primary;
}
// switch[checked='true'] {
//     // background-color: $color-accent;
//     color: $color-accent;
// }
.app-page {
    background-color: $background-color;
    status-bar-style: light;
    status-bar-color: $background-color;
    navigation-bar-color: $background-color;
    navigation-bar-style: light;
}

.pageContent {
    // z-index:1;
    // padding-top:$actionbar-height;
    // background-color: $background-color;
}

label,
htmllabel {
    // font-family: 'SF UI Text, Roboto';
    white-space: normal;
}

button {
    color: $color-primary;
    background-color: transparent;
    // padding: 4;
    // margin:4;
    // ripple-color: $color-primary;
}
mdbutton,
mdcardview {
    shape: main;
}

mdbutton {
    height: 50;
    padding: 0 10 0 10;
    
}
mdbutton[variant='outline'] {
    border-color: $color-primary;
    margin: 0 10 0 10;
}

mdtextfield[variant='filled'] {
    background-color: rgba(0, 0, 0, 0.032);
}

mdtextfield {
    highlight-color: $color-accent;
    hint-color: gray;
    // placeholder-color: $color-accent;
}

// .cardView {
//     ripple-color: $color-primary;
//     background-color: white;
// }
.flatCardView {
    // border-radius: 10;
    elevation: 1;
    background-color: white;
}

.themedBack {
    background-color: $color-primary;
}

.buttonwhite {
    background-color: white;
    color: $color-accent;
    ripple-color: $color-accent-dark;
}

.buttonthemed {
    background-color: $color-accent;
    color: white;
    ripple-color: $color-accent-dark;
}

.floating-btn {
    @extend .mdi, .buttonwhite;
    shape: round;
    font-size: 24;
    padding: 0;
    margin: 0;
    width: 54;
    height: 54;
}

// .botom-nav {
//     tab-active-color: green;
//     tab-inactive-color: black;
//     tab-background-color: blue;
// }

// tabview {
//     selected-tab-text-color: white;
//     tab-background-color: $color-primary-dark;
//     android-selected-tab-highlight-color: $color-primary;
// }

.actionBar {
    elevation: 2;
    background-color: $background-color;
}
.actionBar[themed='true'] {
    background-color: $color-primary;
    status-bar-style: dark;
    status-bar-color: $color-primary;
}

.actionBarButton {
    @extend .mdi;
    width: $actionbar-height;
    height: $actionbar-height;
    margin: 0;
    padding: 0;
    font-size: 32;
    shape: round;
    color: $color-primary;
    vertical-alignment: center;
    ripple-color: $color-primary;
}
.actionBarButton[themed='true'] {
    color: white;
    ripple-color: white;
}

.actionBarLogo {
    padding:0;
    text-alignment: center;
    color: $color-primary;
}

.actionBarLogo[themed='true'] {
    color: white;
}
.actionBarTitle {
    vertical-alignment: center;
    font-size: 20;
    font-weight: bold;
    color: $color-primary;
}
.actionBarTitle[themed='true'] {
    color: white;
}

.actionBarSubtitle {
    font-size: 13;
    color: rgba(255, 255, 255, 0.533);
}
.actionBarSubtitle[themed='true'] {
    ripple-color: $color-primary;
}

.icon-btn {
    @extend .mdi;
    background-color: transparent;
    ripple-color: $color-primary;
    color: $color-primary;
    width: $navigation-bar-height;
    height: $navigation-bar-height;
    shape: round;
    font-size: 24;
    margin: 0;
    padding: 0;
}

.icon-btn[themed='true'] {
    color: white;
    ripple-color: white;
}

.icon-themed-btn {
    @extend .icon-btn;
    ripple-color: $color-accent;
    color: $color-accent;
}

.big-icon-themed-btn {
    @extend .icon-themed-btn;
    width: 70;
    height: 70;
    border-radius: 35;
    font-size: 40;
}
.label-icon-btn {
    @extend .mdi;
    color: $text-color;
    font-size: 24;
    margin: 0;
    padding: 0 4 0 4;
}
.menu {
    height: 48;
    background-color: #ffffff;
    border-radius: 4;
    margin: 4 9 4 9;
    ripple-color: $color-primary;
}

.menuIcon {
    @extend .mdi;
    color: $icon-color;
    text-align: center;
    font-size: 24;
}
.menuIcon[active='true'] {
    color: $color-primary;
}

.menuText {
    color: #000000;
    paddingleft: 40;
    font-size: 16;
}

.menu[active='true'] {
    font-weight: 500;
    background-color: $color-primary-semi;
}
.menuText[active='true'] {
    color: $color-primary;
}

.menuInfos {
    padding-left: 25;
    padding-right: 25;
}
.menuInfos htmllabel {
    font-size: 14;
    horizontal-alignment: left;
}

.menuButtons {
    padding-left: 12;
    padding-right: 12;
    // margin-bottom: 10;
}

.menu-btn {
    @extend .icon-btn;
    shape: round;
    ripple-color: $color-primary;
    color: $color-primary;
}
.menuButtons mdbutton {
    @extend .menu-btn;
}

.historyIcon {
    @extend .mdi;
    // background-color:#eee;
    text-align: center;
    margin-left: 10;
    margin-right: 10;
    font-size: 30;
    width: 40;
    height: 40;
    // border-radius: 20;
}

.balance {
    color: $color-accent;
    font-size: 30;
}
.currency {
    @extend .app;
    font-size: 30;
    vertical-align: top;
}

.listRightIcon {
    @extend .mdi;
    color: $color-accent;
    font-size: 26;
    font-weight: bold;
    vertical-alignment: center;
    text-align: center;
    padding-bottom: -5;
}

.bottom-gradient {
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.667), #000000);
}

.listitem {
    border-bottom-width: 1;
    border-bottom-color: #efefef;
    padding: 16;
    ripple-color: $color-primary;
    .title-holder {
        vertical-alignment: center;
    }
    .title {
        font-size: 17;
        // white-space: normal;
        // vertical-text-alignment: top;
        max-lines: 1;
        line-break: end;
    }
    .subtitle {
        font-size: 14;
        color: #676767;
        // vertical-text-alignment: top;
        max-lines: 2;
        line-break: end;
    }
}

.amount-tf {
    placeholder-color: white;
    floating-color: white;
    stroke-color: white;
    text-align: right;
    color: white;
    font-size: 30;
    digits: '0123456789,.';
}

.list_section_title {
    font-size: 22;
    font-weight: bold;
    text-align: center;
    padding: 5;
}
.list_section_subtitle {
    font-size: 17;
    font-weight: bold;
    text-align: center;
    padding: 5;
}
.list_section_subsubtitle {
    font-size: 15;
    // font-weight: bold;
    text-align: center;
    color: #676767;
    padding-bottom: 5;
}
