@import './variables';
:export {
    colorAccent: $color-accent;
    colorPrimary: $color-primary;
    colorPrimaryDark: $color-primary-dark;
    backgroundColor: $background-color;
    subtitleColor: $subtitle-color;
    iconColor: $icon-color;
    textColor: $text-color;
    listBorderColor: $list-border-color;
    actionBarHeight: $actionbar-height;
    statusBarHeight: $status-bar-height;
    navigationBarHeight: $navigation-bar-height;
    actionBarButtonHeight: $actionbar-button-height;
    latoFontFamily: $lato-fontFamily;
    mdiFontFamily: $mdi-fontFamily;
    appFontFamily: $app-fontFamily;
}
