$color-primary: #8DA378;
$color-primary-dark: #617053;
$color-primary-semi: rgba(141, 163, 120, 0.24);
$color-accent: #D1AA71;
$color-secondary: #D1AA71;
$color-accent-dark: #ac8c5d;
$color-primary-dark: #617053;
$background-color: #fff;
$text-color: #232F34;
$subtitle-color: #676767;
$icon-color: #757575;
$list-border-color: #EFEFEF;
$text-color-sub: #666666;
$disabled-color: #404040;
$actionbar-height: 56;
$actionbar-button-height: 54;
$navigation-bar-height: 48;
$status-bar-height: 24;
